h2 My exercises and workouts 

ol 
  li 
    a href="" #{@result_exercises}




/ ol
/   - albums.each do |album|
/     li 
/       a href="albums/#{album['AlbumId']}" #{album["Title"]}
/       a href="albums/#{album['AlbumId']}/edit" Justera
/       form method="POST" action="albums/#{album['AlbumId']}/delete"
/         input type="submit" value="Försvinn"

